*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;

}
body{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(45deg, #862183d1, #138d33b8);
}
.calculator{

    border: 1px solid #764076d2;
    padding: 20px;
    border-radius: 16px;
    background: transparent;
    box-shadow: 0px 3px 15px rgba(120, 96, 130, 0.8);
}
input{
    width: 320px;
    border: none;
    padding: 24px;
    margin: 10px;
    background: transparent;
    box-shadow: 0px 3px 15px rgba(109, 71, 85, 0.859) ;
    font-size: 40px;
    text-align: right;
    cursor: pointer;
color: #ffffff;
}
input::placeholder{
    color: #ffffff;
}    
button{
    border: none;
    width: 60px;
    height: 60px;
    margin: 10px;
    border-radius: 50%;
    background: transparent;
    color: hsl(0, 0%, 100%);
    font-size: 20px;
    box-shadow: -8px -8px 15px rgba(181, 144, 144, 0.522);
    cursor: pointer;
}
.equalBtn{
    background-color: #a961279a;

}
.operator{
color: #4a418fd4;
}